@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="home">
        <div class="frame">
            <div class="overlap">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <img class="img" src="img/rectangle-36.svg" />
                    <div class="text-wrapper">Inspect Beautiful Textiles</div>
                    <img class="img-2" src="img/main-image.png" />
                    <div class="div">Textiles</div>
                </div>
                <div class="overlap-2">
                    <div class="text-wrapper-2">Artifacts</div>
                    <div class="overlap-group-2">
                        <img class="rectangle-2" src="img/rectangle-36.svg" />
                        <div class="text-wrapper-3">Explore Ancient Artifacts</div>
                    </div>
                    <img class="img-2" src="img/image-11.png" />
                </div>
                <div class="overlap-3">
                    <div class="rectangle-3"></div>
                    <img class="rectangle-4" src="img/rectangle-36.svg" />
                    <img class="image" src="img/image-13.png" />
                    <div class="text-wrapper-2">Burials</div>
                    <div class="text-wrapper-4">Unearth Burial Secrets</div>
                </div>
            </div>
            <div class="overlap-4">
                <img class="rectangle-5" src="img/rectangle.svg" />
                <img class="image-2" src="img/image-10.png" />
                <div class="the-largest"><div class="the-largest-2">Welcome to Fag el-Gamous</div></div>
                <button class="button"><div class="join-today">Explore the Cemetery</div></button>
                <div class="top-nav-and-header">
                    <div class="overlap-group-3">
                        <div class="top-nav-bar"></div>
                        <div class="header-bar">
                            <img class="button-2" src="img/button.svg" />
                            <div class="text-wrapper-5">Fag el-Gamous</div>
                            <img class="image-3" src="img/image-12-3.png" />
                            <img class="line" src="img/line-22-3.svg" />
                        </div>
                        <div class="text-wrapper-6">Home</div>
                        <div class="text-wrapper-7">About</div>
                        <div class="text-wrapper-8">Explore</div>
                        <div class="text-wrapper-9">Research</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
