:root {
  --actionable-item: rgba(24, 160, 251, 1);
  --hero-h1-font-family: "Montserrat-Regular", Helvetica;
  --hero-h1-font-weight: 400;
  --hero-h1-font-size: 56px;
  --hero-h1-letter-spacing: -0.84px;
  --hero-h1-line-height: 80px;
  --hero-h1-font-style: normal;
  --collection-1-BYU-blue: rgba(0, 46, 93, 1);
  --collection-1-actionable-item: rgba(24, 160, 251, 1);
}
