@{

}
<table border="1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artifact Table</th>
            <th>Column 2</th>
            <!-- Add more columns if needed -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <!-- Add more data rows if needed -->
        </tr>
    </tbody>
</table>
